In [ ]:
print("Hello !!")

## Python Basic

Data Type

|Type|Example|
|------|---|
|●Numeric : Integer , Float| x = 10 　or　 x = 1.0 |
|●String | x = 'Mike'|
|●Boolean | x = True , y = False|
|●List | x_list = ['Mike', 2, 3] |
|●Tuple | x_tuple = ('Brett','Cisco') |
|●Dictionary | x_dictionary = {"one" : 1 , "two" : 2} |
|●set | x_set = {1,2,3,4} |
|●Lists in Lists | x_list2 = [[1,2,3],['A','B','C','D]] |

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
## 1. Data Type

 ### 1-1. int and float

In [ ]:
x1 = 11
x2 = 2.6

In [ ]:
x1

In [ ]:
type(x1), type(x2)

 #### Operating

In [ ]:
x1 + x2

 #### Converting {int > float} and {float > int}

In [ ]:
x3 = float(x1)
x4 = int(x2)
x3,x4

 #### basic function about int , float

In [ ]:
min(x1,x2)

In [ ]:
max(x1,x2)

In [ ]:
sum( (x1,x2) )

 ### 1-2. Boolen

In [ ]:
b1 = x1<10 
b2 = x1>10
b3 = x1 == 11
b4 = x1 != 11
print(b1)

In [ ]:
b1, b2, b3, b4

In [ ]:
type(b1) == bool

 #### Operating

In [ ]:
b1 + b2 + b3 + b4

 ### 1-3. String

In [ ]:
s1 = 'DaeSun'
s2 = 'JungHoon'
s1+s2

 #### Element of String

In [ ]:
s1[0] # 원소의 인덱싱은 0부터 시작합니다.

In [ ]:
len(s1), len(s2)

In [ ]:
s1[len(s1)]

In [ ]:
s1[len(s1)-1]

In [ ]:
'S' in s1

In [ ]:
's' in s1

 #### Operating

In [ ]:
s1 + ', ' + s2

 #### Indexing

In [ ]:
s1[3:]

In [ ]:
s2[:4]

In [ ]:
s2[:4] + s1[3:]

 #### basic function about string

In [ ]:
s1.lower() , s1.upper()

In [ ]:
s2.count('o')

In [ ]:
x = "life is too short"
x.split(' ')

In [ ]:
x[0], x.split(' ')[0]

 #### String, Int, Float

In [ ]:
s3 = 1
s4 = '1'
s5 = '1.5'
s3 + s4

 #### Cause of Error

In [ ]:
s3 == s4

In [ ]:
type(s3), type(s4)

 #### Convert {str > int} or {str > float}

In [ ]:
## s4 = '1'
s3 + int(s4)

In [ ]:
## s5 = '1.5'
int(s5)

In [ ]:
float(s5)

In [ ]:
int(float(s5))

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 
 ## 1-1 ~ 1-3 실습

### 문제 1.
#### a1 = 1.43 , a2 = "1.89" , a3 = 3일 때
#### a1 + a2 + a3 의 정수부분과 소수부분을 나타내시오. (a2는 숫자형태로 바꾸세요.)

In [ ]:
a1, a2, a3 = 1.43 , "1.89", 3

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################

#############################

### 문제 2.
#### 다음 변수를 이용하여 I'm 20 years old를 나타내시오.
#### p1 = "years" , p2 = "m" , p3 ="'" , p4 = 20 , p5 = "I" , p6 = "old." , p7 = " "

In [ ]:
p1 = "years"
p2 = "m"
p3 = "'"
p4 = 20
p5 = "I"
p6 = "old"
p7 = " "

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################


#############################

### 문제 3.
다음 변수를 이용하여 "banana milk"를 나타내시오.

q1 = "banana kick" , q2 = "chocolate milk"

In [ ]:
q1 = 'banana kick'
q2 = 'chocolate milk'

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################


#############################

### 문제 4.
x, y  에  각각  10, 20을  할당한  후,  다른  변수  z를  이용 하여  두  수를  교환하는  프로그램  작성하기 (만약 가능하다면, 다른 변수 z를 이용하지 않아도 된다.)

(단, x, y에  숫자를  할당한  후에는  숫자를  직접  이용하지  않는 다.) 

<출력화면예시>

Before - x : 10, y : 20

After - x : 20, y : 10

In [ ]:
x = 10
y = 20

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################


#############################

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

 ### 1-4. list

In [ ]:
L1 = [1,2,3,4]
L2 = ['A',True,5342,0.212,'0.003']
L3 = [1,2,[3,4,5]]

In [ ]:
type(L1)

In [ ]:
type(L2[0]), type(L2[1]) , type(L2[2])

In [ ]:
type(L3[2])

 #### element of list

In [ ]:
L1[0]

In [ ]:
L3[-1]

In [ ]:
L3[2][0]

In [ ]:
L3[2] == L3[-1]

 #### Indexing

In [ ]:
L1[0:3]

In [ ]:
L3[2:]

In [ ]:
L3[-1][1:]

In [ ]:
L1[::-1]

 #### Operating

In [ ]:
L1 + L2

In [ ]:
[L1]+[L2]

In [ ]:
L1[0] + L1[3]

In [ ]:
L2[0] + L2[-1]

In [ ]:
L2*2

 #### Element Change

In [ ]:
lst = [1,2,3,4]
lst[0] = 0
lst[1] = [1,2]

In [ ]:
lst

In [ ]:
lst[1][1] = ['A','B']

In [ ]:
lst

 #### basic function about list

In [ ]:
lst2 = [1,2,2,2,3,3,5,-1,2,-3]
lst2

In [ ]:
lst2.append(4)
lst2

In [ ]:
lst2.count(2)

In [ ]:
lst2.index(5)

In [ ]:
lst2.remove(1)
lst2

In [ ]:
sum(lst2), len(lst2)

In [ ]:
sorted(lst2, reverse=False)

 #### Function Guide

---------------------------------------------------

X = [1,2,3,4]

If you can't remember the name of the function, enter the variable and '.' and press the tap key.

#### example1 :) X. + tapkey
#### example2 :) import numpy as np
####  np. + tapkey

----------------------------------------------------

If you don't remember how to use the function, Put a question mark right after the function.

#### example1 :) sorted? + shift enter
#### example2 :) X.index? + shift enter

In [ ]:
sorted?

### 1-5. Tuple

In [ ]:
x = [1,2,3,4]
Tup = (3, x)

 #### Tuple can't change the element directly

In [ ]:
Tup[0] = 2

 #### But can change the element indirectly

In [ ]:
Tup[1][0] = 'changed_x0'
Tup

In [ ]:
Tup = (4, Tup[1])

In [ ]:
Tup

 ### 1-6. Dictionaries

In [ ]:
d = {'name': 'Frodo', 'age': 33}
d['age']

In [ ]:
d['age'] * 2

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
list(d.keys()), list(d.values())

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
## 1-4 ~ 1-6 실습

 ### 문제 5. 
 
 다음 변수에서 숫자 3을 나타내보시오. 그 뒤에 그 숫자를 -10으로 바꾸시오.
 
 A = [ [1,2] , [0,[1,2] , [[2,3,-1]] ] ]

In [ ]:
A = [ [1,2] , [0,[1,2] , [[2,3,-1]] ] ]

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################


#############################

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################


#############################

 ### 문제 6. 
 
 연산기호를 이용하여 [10, 10, 20, 20, 20, 100, 100, 100, 100] 리스트를 만드시오. 
 
 ( 힌트 : 연산기호 * 를 사용하시오)

In [ ]:
o1, o2, o3 = 10, 20, 100
e1, e2, e3 =  2,  3,   4

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################


#############################

 ### 문제 7. 
 
 다음 딕셔너리의 원소들을 이용하여 풋콜 패러티를 보이시오.
 
 \begin{align}
 P + S = C + K \bullet PV(0,T)
 \end{align}
 
 
 my_dict = { 'S' : 100, 'K' : 90,  'Call' : 14.80650701571102 , 'Put' : 3.024387613318993 ,
 
 'PV(0,T)' : 0.9801986733067553}

In [ ]:
my_dict = { 'S' : 100, 'K' : 90,  'Call' : 14.80650701571102, 
           'Put' : 3.024387613318993 , 'PV(0,T)' : 0.9801986733067553}

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################


#############################

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
## 2. Arithematic Operators (kind of function)

|Operator|Meaning|Example|
|------|---|---|
|+|Addition|4+7 -> 11|
|-|Subtraction|12-5 -> 7|
|*|Multiplication|6 * 6 -> 36|
|/|Division|30 / 5 -> 6|
|%|Modulus|10 % 4 -> 2|
|//|Quotient|18 // 5 -> 3|
|**|Exponent|3 ** 5 -> 243|

In [ ]:
n0 = 7/3 
n1 = 7//3 # 몫 
n2 = 7%3  # 나머지
n3 = 7**3 # 제곱
n0,n1, n2, n3

In [ ]:
(n3-n2)**n1

 ## 3. If

In [ ]:
if type(n0) == float :
    print('float')
elif type(n0) == int :
    print('int')
else :
    print('etc..')

In [ ]:
if n0 >= 0 :
    print('0~9')
elif n0 >= 10 :
    print('10~19')
else :
    print('etc..')

## 4. Function
<center>
<img src="https://swcarpentry.github.io/python-novice-inflammation/fig/python-function.svg" alt="Drawing" style="width: 700px;"/>
</center>

In [ ]:
def average(lst) :
    z = sum(lst)/len(lst)
    return z

In [ ]:
Temp_lst = [10]*5+[100]*5
Temp_lst

In [ ]:
average(Temp_lst)

In [ ]:
def fun1(a,b,c) :
    z = (a+b)/c
    return z

def fun2(a,b,c = 2) :  ### Default Value
    z = (a+b)/c
    return z

In [ ]:
fun1(3,5,2), fun2(3,5,3), fun2(3,5)

In [ ]:
def fun3(x) :
    
    if type(x) == float :
        print('float')
    elif type(x) == int :
        print('int')
    else :
        print('etc..')
    
    return type(x)

In [ ]:
fun3([10])

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 ##  2~4 실습

### 문제 8.
화씨온도(°F)를  입력  받아서  섭씨온도(°C)로  바꾸는  프로그램을  작성하시오. (화씨온도는  사용자  입력) 
\begin{align}
C = (F - 32)\frac{5}{9} \\
\end{align}

<출력화면예시>
 
화씨온도: 100

섭씨온도: 37.7777777778

입력 : Function1(100) 출력화면 : 37.777778

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################


#############################

### 문제 9.
사용자로부터  투입한  돈과  물건  값을  입력  받아,  잔돈을  계산하여  출력한다.  단,  동전의  개수는  최소화  할  것  (가정) 

-  물건  값은  100원  단위 

-  자판기의  동전은  500원, 100원만  있음

<출력화면예시>
 
투입한 돈: 5000 

물건값: 2700 

거스름돈: 2300 

500원짜리: 4개 

100원짜리: 3개

입력 : Function2(5000, 2700) 

출력화면 : 4, 3

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################


#############################

 ## 문제 10.
 액면 100인 제로쿠폰채의 가격을 구하는 함수를 만드시오. 
 
 (이자율은 1년단위의 복리로 Compound된다.)
 
 함수는 이자율(r)과 만기(T)의 함수로 만드시오.예:) Zero(r,T)
 
 또한 이 함수를 통해 만기 2년 수익률 3%의 제로쿠폰채 가격을 구하시오.

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################


#############################

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

## 5. Import
package load

In [ ]:
import numpy as np
from scipy.stats import norm

In [ ]:
np.pi

In [ ]:
np.sqrt(4)

In [ ]:
np.exp(1)

In [ ]:
np.round( np.exp(1) , 4)

In [ ]:
np.log(np.exp(1))

In [ ]:
np.array([[1,2,3],[4,5,6]])

In [ ]:
norm.cdf?

In [ ]:
norm.cdf(1.645) , norm.ppf(0.95)

In [ ]:
S = 100
K = 90
sigma = 0.2
T = 1
r = 0.02

In [ ]:
def Call(S,K,sigma,T,r) :
    d1 = ( np.log(S/K) + (r + 0.5 * sigma**2)*T  ) / (sigma * np.sqrt(T))
    d2 = d1 - sigma * np.sqrt(T)
    Nd1 = norm.cdf(d1)
    Nd2 = norm.cdf(d2)
    C = S * Nd1 - K * np.exp(-r * T ) * Nd2
    return C

In [ ]:
Call(S,K,sigma,T,r)

In [ ]:
Call(S = 80, K = 78, sigma = 0.3, T = 0.5, r= 0.02)

## 6. for loop

In [ ]:
for i in range(4) :
    print('Hello World')

In [ ]:
for i in range(4) :
    print(i)

In [ ]:
s = 0
for i in range(1,5) :
    s = s + i
    print(s)

In [ ]:
a = 1
for i in range(1,5) :
    a = a + 1
    print(str(i) + ' : \t' + str(a))

In [ ]:
for i in 'banana' :
    print(i)

In [ ]:
temp_lst= [19,20, [100,101],['A','B','C']]
for i in range(len(temp_lst)) :
    print(temp_lst[i])

In [ ]:
for i in range(len(temp_lst)) :
    if  type(temp_lst[i]) == int :
        print(type(temp_lst[i]))
    else :
        print('etc')

In [ ]:
def temp_lambda(x) :
    return x**2 + 2 *x
for i in range(10) :
    print(temp_lambda(i))

In [ ]:
temp_lst = ['A','B','C']
for i in temp_lst :
    for j in range(5) :
        print(i,j)

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 ##  5~7 실습

 ## 문제 11.
채권포트폴리오의 구성채권의 1년동안 파산확률은 다음과 같이 리스트에 저장된다.

PF = [ 0.01, 0.001, 0.055, 0.006, 0.0008, 0.12 , 0.25]

다음 기준을 통해 채권의 등급을 표시하시오.(힌트 for반복문과 if문을 사용하시오.)

A : 파산확률 0.2%미만

B : 파산확률 0.2%이상 15%미만

C : 파산확률 15%이상

또한 채권의 등급이 표시된 리스트를 새로 만드시오.

In [ ]:
PF = [ 0.01, 0.001, 0.055, 0.006, 0.0008, 0.12 , 0.25]

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################


#############################

 ## 문제 12.
양의 두 정수 a, b를 입력 받아, a부터 b까지의 정수의 합을 구하여 출력하는 프로그램을 작성하시오.

단, 조건 a <= b 을 만족하는 값만 고려한다.


<출력화면예시>

Enter two integers: 5 10

The sum from 5 to 10 is 45

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################


#############################

 ## 문제 13.
 문제 10의 함수를 이용하시오.
 
 만기수익률 r, 쿠폰이자율 c, 만기 T의 쿠폰채권의 가격을 구하는 함수를 만드시오.
 
 (단 쿠폰이자는 1년마다 지급된다. 경과이자는 무시한다.)
 
 또한, 만기 3년, 만기수익률 6%, 쿠폰이자율 5%의 쿠폰채 가격을 구하시오.

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################


#############################

 ## 문제 14.
콜옵션과 풋옵션의 가격을 계산하는 함수를 만드시오.(배당은 없다고 가정한다.)

주가(S), 행사가격(K), 표준편차(sigma), 잔존만기(T), 이자율(r)을 변수로 취급하시오.

또한 다음 변수들을 이용하여 콜옵션과 풋옵션의 풋콜 패러티를 보이시오.

S = 100, K = 90, sigma = 0.2, T = 1, r = 0.02

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################


#############################

 ## 문제 15.
구구단을 출력하시오.

<출력화면에서>

2 4 6 8 10 12 14 16 18

3 6 9 12 15 18 21 24 27

...

9 18 27 36 45 54 63 72 81

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################
for i in range(1,10) :
    t_st = ''
    for j in range(1,10) :
        t_st += (str(i*j)+ ' ')
    print(t_st)
    print()
#############################

 ## 7. Random number generate

In [ ]:
import numpy as np
np.random.randint(0,10)

In [ ]:
np.random.normal(0,1,size = 10)

In [ ]:
xx = [1,2,3,4,'A','B','C','D']
np.random.choice(xx, 2)

> **심화문제**

> <center>
<img src="http://etc.usf.edu/clipart/37000/37042/isoc_tri_110_37042_lg.gif" alt="Drawing" style="width: 400px;"/>
</center>

> 시뮬레이션을 이용하여 1m 길이의 밧줄을 임의의 길이로 3등분 했을 때 얻어지는 3개의 조각으로 삼각형이 만들어질 확률은 얼마인지 계산하시오 .
1. 삼각형이 만들어지기 위해서는 짧은 두 변의 길이의 합이 가장 긴 변의 길이 보다 길어야한다 .
2. numpy.random 모듈의 uniform분포 함수를 이용해서 임의의 두 점 (x,y)을 n차례 생성하고 그 중에서 삼각형이 만들어지는 비율을 계산한다 .
[numpy.uniform(0,1)]
3. n의 횟수를 증가시키면 비율은 정확한 확률에 수렴한다 .

In [ ]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################



#############################