In [1]:
print("Hello !!")

Hello !!

## Python Basic

Data Type

|Type|Example|
|------|---|
|●Numeric : Integer , Float| x = 10 　or　 x = 1.0 |
|●String | x = 'Mike'|
|●Boolean | x = True , y = False|
|●List | x_list = ['Mike', 2, 3] |
|●Tuple | x_tuple = ('Brett','Cisco') |
|●Dictionary | x_dictionary = {"one" : 1 , "two" : 2} |
|●set | x_set = {1,2,3,4} |
|●Lists in Lists | x_list2 = [[1,2,3],['A','B','C','D]] |

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
## 1. Data Type

 ### 1-1. int and float

In [2]:
x1 = 11
x2 = 2.6

In [3]:
x1

11

In [4]:
type(x1), type(x2)

(int, float)

 #### Operating

In [5]:
x1 + x2

13.6

 #### Converting {int > float} and {float > int}

In [6]:
x3 = float(x1)
x4 = int(x2)
x3,x4

(11.0, 2)

 #### basic function about int , float

In [7]:
min(x1,x2)

2.6

In [8]:
max(x1,x2)

11

In [9]:
sum( (x1,x2) )

13.6

 ### 1-2. Boolen

In [10]:
b1 = x1<10 
b2 = x1>10
b3 = x1 == 11
b4 = x1 != 11
print(b1)

False

In [11]:
b1, b2, b3, b4

(False, True, True, False)

In [12]:
type(b1) == bool

True

 #### Operating

In [13]:
b1 + b2 + b3 + b4

2

 ### 1-3. String

In [14]:
s1 = 'DaeSun'
s2 = 'JungHoon'
s1+s2

'DaeSunJungHoon'

 #### Element of String

In [15]:
s1[0] # 원소의 인덱싱은 0부터 시작합니다.

'D'

In [16]:
len(s1), len(s2)

(6, 8)

In [17]:
s1[len(s1)]

IndexError: string index out of range

In [18]:
s1[len(s1)-1]

'n'

In [19]:
'S' in s1

True

In [20]:
's' in s1

False

 #### Operating

In [21]:
s1 + ', ' + s2

'DaeSun, JungHoon'

 #### Indexing

In [22]:
s1[3:]

'Sun'

In [23]:
s2[:4]

'Jung'

In [24]:
s2[:4] + s1[3:]

'JungSun'

 #### basic function about string

In [25]:
s1.lower() , s1.upper()

('daesun', 'DAESUN')

In [26]:
s2.count('o')

2

In [27]:
x = "life is too short"
x.split(' ')

['life', 'is', 'too', 'short']

In [28]:
x[0], x.split(' ')[0]

('l', 'life')

 #### String, Int, Float

In [29]:
s3 = 1
s4 = '1'
s5 = '1.5'
s3 + s4

TypeError: unsupported operand type(s) for +: 'int' and 'str'

 #### Cause of Error

In [30]:
s3 == s4

False

In [31]:
type(s3), type(s4)

(int, str)

 #### Convert {str > int} or {str > float}

In [32]:
## s4 = '1'
s3 + int(s4)

2

In [33]:
## s5 = '1.5'
int(s5)

ValueError: invalid literal for int() with base 10: '1.5'

In [34]:
float(s5)

1.5

In [35]:
int(float(s5))

1

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 
 ## 1-1 ~ 1-3 실습

### 문제 1.
#### a1 = 1.43 , a2 = "1.89" , a3 = 3일 때
#### a1 + a2 + a3 의 정수부분과 소수부분을 나타내시오. (a2는 숫자형태로 바꾸세요.)

In [36]:
a1, a2, a3 = 1.43 , "1.89", 3

In [37]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################
X = a1 + float(a2) + a3
X_int = int(X)
X_flo = X - X_int
print('정수부분 : ',X_int,' 소수부분 : ',X_flo)
#############################

정수부분 :  6  소수부분 :  0.3200000000000003

### 문제 2.
#### 다음 변수를 이용하여 I'm 20 years old를 나타내시오.
#### p1 = "years" , p2 = "m" , p3 ="'" , p4 = 20 , p5 = "I" , p6 = "old." , p7 = " "

In [38]:
p1 = "years"
p2 = "m"
p3 = "'"
p4 = 20
p5 = "I"
p6 = "old"
p7 = " "

In [39]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################
p5+p3+p2+p7 + str(p4) + p7 + p1 + p7 + p6


#############################

"I'm 20 years old"

### 문제 3.
다음 변수를 이용하여 "banana milk"를 나타내시오.

q1 = "banana kick" , q2 = "chocolate milk"

In [40]:
q1 = 'banana kick'
q2 = 'chocolate milk'

In [41]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################
q1[:7] + q2[10:]


#############################

'banana milk'

### 문제 4.
x, y  에  각각  10, 20을  할당한  후,  다른  변수  z를  이용 하여  두  수를  교환하는  프로그램  작성하기 (만약 가능하다면, 다른 변수 z를 이용하지 않아도 된다.)

(단, x, y에  숫자를  할당한  후에는  숫자를  직접  이용하지  않는 다.) 

<출력화면예시>

Before - x : 10, y : 20

After - x : 20, y : 10

In [42]:
x = 10
y = 20

In [43]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################
x,y = y,x


##############
## 다른방법 ##
#  z = x    ##
#  x = y    ##
#  y = z    ##
##############

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

 ### 1-4. list

In [44]:
L1 = [1,2,3,4]
L2 = ['A',True,5342,0.212,'0.003']
L3 = [1,2,[3,4,5]]

In [45]:
type(L1)

list

In [46]:
type(L2[0]), type(L2[1]) , type(L2[2])

(str, bool, int)

In [47]:
type(L3[2])

list

 #### element of list

In [48]:
L1[0]

1

In [49]:
L3[-1]

[3, 4, 5]

In [50]:
L3[2][0]

3

In [51]:
L3[2] == L3[-1]

True

 #### Indexing

In [52]:
L1[0:3]

[1, 2, 3]

In [53]:
L3[2:]

[[3, 4, 5]]

In [54]:
L3[-1][1:]

[4, 5]

In [55]:
L1[::-1]

[4, 3, 2, 1]

 #### Operating

In [56]:
L1 + L2

[1, 2, 3, 4, 'A', True, 5342, 0.212, '0.003']

In [57]:
[L1]+[L2]

[[1, 2, 3, 4], ['A', True, 5342, 0.212, '0.003']]

In [58]:
L1[0] + L1[3]

5

In [59]:
L2[0] + L2[-1]

'A0.003'

In [60]:
L2*2

['A', True, 5342, 0.212, '0.003', 'A', True, 5342, 0.212, '0.003']

 #### Element Change

In [61]:
lst = [1,2,3,4]
lst[0] = 0
lst[1] = [1,2]

In [62]:
lst

[0, [1, 2], 3, 4]

In [63]:
lst[1][1] = ['A','B']

In [64]:
lst

[0, [1, ['A', 'B']], 3, 4]

 #### basic function about list

In [65]:
lst2 = [1,2,2,2,3,3,5,-1,2,-3]
lst2

[1, 2, 2, 2, 3, 3, 5, -1, 2, -3]

In [66]:
lst2.append(4)
lst2

[1, 2, 2, 2, 3, 3, 5, -1, 2, -3, 4]

In [67]:
lst2.count(2)

4

In [68]:
lst2.index(5)

6

In [69]:
lst2.remove(1)
lst2

[2, 2, 2, 3, 3, 5, -1, 2, -3, 4]

In [70]:
sum(lst2), len(lst2)

(19, 10)

In [71]:
sorted(lst2, reverse=False)

[-3, -1, 2, 2, 2, 2, 3, 3, 4, 5]

### 1-5. Tuple

In [72]:
x = [1,2,3,4]
Tup = (3, x)

 #### Tuple can't change the element directly

In [73]:
Tup[0] = 2

TypeError: 'tuple' object does not support item assignment

 #### But can change the element indirectly

In [74]:
Tup[1][0] = 'changed_x0'
Tup

(3, ['changed_x0', 2, 3, 4])

In [75]:
Tup = (4, Tup[1])

In [76]:
Tup

(4, ['changed_x0', 2, 3, 4])

 ### 1-6. Dictionaries

In [77]:
d = {'name': 'Frodo', 'age': 33}
d['age']

33

In [78]:
d['age'] * 2

66

In [79]:
d.keys()

dict_keys(['name', 'age'])

In [80]:
d.values()

dict_values(['Frodo', 33])

In [81]:
list(d.keys()), list(d.values())

(['name', 'age'], ['Frodo', 33])

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
## 1-4 ~ 1-6 실습

 ### 문제 5. 
 
 다음 변수에서 숫자 3을 나타내보시오. 그 뒤에 그 숫자를 -10으로 바꾸시오.
 
 A = [ [1,2] , [0,[1,2] , [[2,3,-1]] ] ]

In [82]:
A = [ [1,2] , [0,[1,2] , [[2,3,-1]] ] ]

In [83]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################
A[1][2][0][1]


#############################

3

In [84]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################

A[1][2][0][1] = -10
A

#############################

[[1, 2], [0, [1, 2], [[2, -10, -1]]]]

 ### 문제 6. 
 
 연산기호를 이용하여 [10, 10, 20, 20, 20, 100, 100, 100, 100] 리스트를 만드시오. 
 
 ( 힌트 : 연산기호 * 를 사용하시오)

In [85]:
o1, o2, o3 = 10, 20, 100
e1, e2, e3 =  2,  3,   4

In [86]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################
[o1] * e1 + [o2]*e2 + [o3]*e3


#############################

[10, 10, 20, 20, 20, 100, 100, 100, 100]

 ### 문제 7. 
 
 다음 딕셔너리의 원소들을 이용하여 풋콜 패러티를 보이시오.
 
 \begin{align}
 P + S = C + K \bullet PV(0,T)
 \end{align}
 
 
 my_dict = { 'S' : 100, 'K' : 90,  'Call' : 14.80650701571102 , 'Put' : 3.024387613318993 ,
 
 'PV(0,T)' : 0.9801986733067553}

In [87]:
my_dict = { 'S' : 100, 'K' : 90,  'Call' : 14.80650701571102, 
           'Put' : 3.024387613318993 , 'PV(0,T)' : 0.9801986733067553}

In [88]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################
LHS = my_dict['Put'] + my_dict['S']
RHS = my_dict['Call'] + my_dict['K'] * my_dict['PV(0,T)']
LHS == RHS

#############################

True

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
## 2. Arithematic Operators (kind of function)

|Operator|Meaning|Example|
|------|---|---|
|+|Addition|4+7 -> 11|
|-|Subtraction|12-5 -> 7|
|*|Multiplication|6 * 6 -> 36|
|/|Division|30 / 5 -> 6|
|%|Modulus|10 % 4 -> 2|
|//|Quotient|18 // 5 -> 3|
|**|Exponent|3 ** 5 -> 243|

In [89]:
n0 = 7/3
n1 = 7//3 
n2 = 7%3 
n3 = 7**3
n0,n1, n2, n3

(2.3333333333333335, 2, 1, 343)

In [90]:
(n3-n2)**n1

116964

 ## 3. If

In [91]:
if type(n0) == float :
    print('float')
elif type(n0) == int :
    print('int')
else :
    print('etc..')

float

In [92]:
if n0 >= 0 :
    print('0~9')
elif n0 >= 10 :
    print('10~19')
else :
    print('etc..')

0~9

## 4. Function
<center>
<img src="https://swcarpentry.github.io/python-novice-inflammation/fig/python-function.svg" alt="Drawing" style="width: 700px;"/>
</center>

In [93]:
def average(lst) :
    z = sum(lst)/len(lst)
    return z

In [94]:
Temp_lst = [10]*5+[100]*5
Temp_lst

[10, 10, 10, 10, 10, 100, 100, 100, 100, 100]

In [95]:
average(Temp_lst)

55.0

In [96]:
def fun1(a,b,c) :
    z = (a+b)/c
    return z

def fun2(a,b,c = 2) :  ### Default Value
    z = (a+b)/c
    return z

In [97]:
fun1(3,5,2), fun2(3,5,3), fun2(3,5)

(4.0, 2.6666666666666665, 4.0)

In [98]:
def fun3(x) :
    
    if type(x) == float :
        print('float')
    elif type(x) == int :
        print('int')
    else :
        print('etc..')
    
    return type(x)

In [99]:
fun3([10])

etc..

list

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 ##  2~4 실습

### 문제 8.
화씨온도(°F)를  입력  받아서  섭씨온도(°C)로  바꾸는  프로그램을  작성하시오. (화씨온도는  사용자  입력) 
\begin{align}
C = (F - 32)\frac{5}{9} \\
\end{align}

<출력화면예시>
 
화씨온도: 100

섭씨온도: 37.7777777778

입력 : Function1(100) 출력화면 : 37.777778

In [100]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################
def Function1(F) :
    return (F-32)*5/9
Function1(100)
#############################

37.77777777777778

### 문제 9.
사용자로부터  투입한  돈과  물건  값을  입력  받아,  잔돈을  계산하여  출력한다.  단,  동전의  개수는  최소화  할  것  (가정) 

-  물건  값은  100원  단위 

-  자판기의  동전은  500원, 100원만  있음

<출력화면예시>
 
투입한 돈: 5000 

물건값: 2700 

거스름돈: 2300 

500원짜리: 4개 

100원짜리: 3개

입력 : Function2(5000, 2700) 

출력화면 : 4, 3

In [101]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################
def Function2(inp , price) :
    etc = inp - price
    coin500 = etc//500
    coin100 = (etc - coin500 * 500)//100
    return coin500, coin100
Function2(5000,2700)
#############################

(4, 3)

 ## 문제 10.
 액면 100인 제로쿠폰채의 가격을 구하는 함수를 만드시오. 
 
 (이자율은 1년단위의 복리로 Compound된다.)
 
 함수는 이자율(r)과 만기(T)의 함수로 만드시오.예:) Zero(r,T)
 
 또한 이 함수를 통해 만기 2년 수익률 3%의 제로쿠폰채 가격을 구하시오.

In [102]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################

def Zero(r,T , F=100) :
    Value = F/((1+r)**T)
    return Value

Zero(0.03, 2)

#############################

94.25959091337543

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

## 5. Import
package load

In [103]:
import numpy as np
from scipy.stats import norm

In [104]:
np.pi

3.141592653589793

In [105]:
np.sqrt(4)

2.0

In [106]:
np.exp(1)

2.718281828459045

In [107]:
np.round( np.exp(1) , 4)

2.7183

In [108]:
np.log(np.exp(1))

1.0

In [109]:
np.array([[1,2,3],[4,5,6]])

array([[1, 2, 3],
       [4, 5, 6]])

In [110]:
norm.cdf(1.645) , norm.ppf(0.95)

(0.9500150944608786, 1.6448536269514722)

In [111]:
S = 100
K = 90
sigma = 0.2
T = 1
r = 0.02

In [112]:
def Call(S,K,sigma,T,r) :
    d1 = ( np.log(S/K) + (r + 0.5 * sigma**2)*T  ) / (sigma * np.sqrt(T))
    d2 = d1 - sigma * np.sqrt(T)
    Nd1 = norm.cdf(d1)
    Nd2 = norm.cdf(d2)
    C = S * Nd1 - K * np.exp(-r * T ) * Nd2
    return C

In [113]:
Call(S,K,sigma,T,r)

14.80650701571102

In [114]:
Call(S = 80, K = 78, sigma = 0.3, T = 0.5, r= 0.02)

8.119873185188794

## 6. for loop

In [115]:
for i in range(4) :
    print('Hello World')

Hello World
Hello World
Hello World
Hello World

In [116]:
for i in range(4) :
    print(i)

0
1
2
3

In [117]:
s = 0
for i in range(1,5) :
    s = s + i
    print(s)

1
3
6
10

In [118]:
a = 1
for i in range(1,5) :
    a = a + 1
    print(str(i) + ' : \t' + str(a))

1 : 	2
2 : 	3
3 : 	4
4 : 	5

In [119]:
for i in 'banana' :
    print(i)

b
a
n
a
n
a

In [120]:
temp_lst= [19,20, [100,101],['A','B','C']]
for i in range(len(temp_lst)) :
    print(temp_lst[i])

19
20
[100, 101]
['A', 'B', 'C']

In [121]:
for i in range(len(temp_lst)) :
    if  type(temp_lst[i]) == int :
        print(type(temp_lst[i]))
    else :
        print('etc')

<class 'int'>
<class 'int'>
etc
etc

In [122]:
def temp_lambda(x) :
    return x**2 + 2 *x
for i in range(10) :
    print(temp_lambda(i))

0
3
8
15
24
35
48
63
80
99

In [123]:
temp_lst = ['A','B','C']
for i in temp_lst :
    for j in range(5) :
        print(i,j)

A 0
A 1
A 2
A 3
A 4
B 0
B 1
B 2
B 3
B 4
C 0
C 1
C 2
C 3
C 4

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

## ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 ##  5~7 실습

 ## 문제 11.
채권포트폴리오의 구성채권의 1년동안 파산확률은 다음과 같이 리스트에 저장된다.

PF = [ 0.01, 0.001, 0.055, 0.006, 0.0008, 0.12 , 0.25]

다음 기준을 통해 채권의 등급을 표시하시오.(힌트 for반복문과 if문을 사용하시오.)

A : 파산확률 0.2%미만

B : 파산확률 0.2%이상 15%미만

C : 파산확률 15%이상

또한 채권의 등급이 표시된 리스트를 새로 만드시오.

In [124]:
PF = [ 0.01, 0.001, 0.055, 0.006, 0.0008, 0.12 , 0.25]

In [125]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################
Grade_lst = []
for i in PF :
    if i <0.002 :
        print('A')
        Grade_lst.append('A')
    elif 0.002 <= i < 0.15 :
        print('B')
        Grade_lst.append('B')
    else :
        print('C')
        Grade_lst.append('C')
print(Grade_lst)
#############################

B
A
B
B
A
B
C
['B', 'A', 'B', 'B', 'A', 'B', 'C']

 ## 문제 12.
양의 두 정수 a, b를 입력 받아, a부터 b까지의 정수의 합을 구하여 출력하는 프로그램을 작성하시오. (반복문을 사용하시오.)

단, 조건 a <= b 을 만족하지 않을 경우 b부터 a까지 정수 합을 구한다.


<출력화면예시>

Enter two integers: 5 10

The sum from 5 to 10 is 45

In [126]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################
a, b = 10, 5
a, b = min(a,b),max(a,b)
s = 0
for i in range(a,b+1) :
    s += i
s
#############################

45

 ## 문제 13.
 문제 10의 함수를 이용하시오.
 
 만기수익률 r, 쿠폰이자율 c, 만기 T의 쿠폰채권의 가격을 구하는 함수를 만드시오.
 
 (단 쿠폰이자는 1년마다 지급된다. 경과이자는 무시한다.)
 
 또한, 만기 3년, 만기수익률 6%, 쿠폰이자율 5%의 쿠폰채 가격을 구하시오.

In [127]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################

def Zero(r,T , F=100) :
    Value = F/((1+r)**T)
    return Value

def Coupon_Bond(r, T, c ,F = 100) :
    PV_Coupon = 0
    for i in range(1,T+1) :
        PV_Coupon = PV_Coupon + c * Zero(r,i,F)
    PV_of_Principal = Zero(r,T,F)
    return PV_Coupon + PV_of_Principal

Coupon_Bond(0.06, 3, 0.05)

#############################

97.32698805053836

 ## 문제 14.
콜옵션과 풋옵션의 가격을 계산하는 함수를 만드시오.(배당은 없다고 가정한다.)

주가(S), 행사가격(K), 표준편차(sigma), 잔존만기(T), 이자율(r)을 변수로 취급하시오.

또한 다음 변수들을 이용하여 콜옵션과 풋옵션의 풋콜 패러티를 보이시오.

S = 100, K = 90, sigma = 0.2, T = 1, r = 0.02

In [128]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################

def Call(S,K,sigma,T,r) :
    d1 = ( np.log(S/K) + (r + 0.5 * sigma**2)*T  ) / (sigma * np.sqrt(T))
    d2 = d1 - sigma * np.sqrt(T)
    Nd1 = norm.cdf(d1)
    Nd2 = norm.cdf(d2)
    C = S * Nd1 - K * np.exp(-r * T ) * Nd2
    return C

def Put(S,K,sigma,T,r) :
    d1 = ( np.log(S/K) + (r + 0.5 * sigma**2)*T  ) / (sigma * np.sqrt(T))
    d2 = d1 - sigma * np.sqrt(T)
    P = K * np.exp(-r * T ) * norm.cdf(-d2) - S * norm.cdf(-d1)
    return P

S, K, sigma, T, r = 100, 90, 0.2, 1, 0.02
print(Put(S,K,sigma,T,r) + S, Call(S,K,sigma,T,r) + K * np.exp(-r * T))

#############################

103.02438761331899 103.02438761331899

 ## 문제 15.
구구단을 출력하시오.

<출력화면에서>

2 4 6 8 10 12 14 16 18

3 6 9 12 15 18 21 24 27

...

9 18 27 36 45 54 63 72 81

In [129]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################
for i in range(1,10) :
    t_st = ''
    for j in range(1,10) :
        t_st += (str(i*j)+ ' ')
    print(t_st)
    print()
#############################

1 2 3 4 5 6 7 8 9

2 4 6 8 10 12 14 16 18

3 6 9 12 15 18 21 24 27

4 8 12 16 20 24 28 32 36

5 10 15 20 25 30 35 40 45

6 12 18 24 30 36 42 48 54

7 14 21 28 35 42 49 56 63

8 16 24 32 40 48 56 64 72

9 18 27 36 45 54 63 72 81

 ## 7. Random number generate

In [160]:
import numpy as np
np.random.randint(0,10)

4

In [161]:
np.random.normal(0,1,size = 10)

array([-0.25819801, -0.61602393,  0.39137667, -0.70531265, -0.16040994,
        0.17707091, -0.57976149, -0.86730897, -1.78286784, -1.61475002])

In [164]:
xx = [1,2,3,4,'A','B','C','D']
np.random.choice(xx, 2)

array(['A', '4'], dtype='<U11')

> **심화문제**

> <center>
<img src="http://etc.usf.edu/clipart/37000/37042/isoc_tri_110_37042_lg.gif" alt="Drawing" style="width: 400px;"/>
</center>

> 시뮬레이션을 이용하여 1m 길이의 밧줄을 임의의 길이로 3등분 했을 때 얻어지는 3개의 조각으로 삼각형이 만들어질 확률은 얼마인지 계산하시오 .
1. 삼각형이 만들어지기 위해서는 짧은 두 변의 길이의 합이 가장 긴 변의 길이 보다 길어야한다 .
2. numpy.random 모듈의 uniform분포 함수를 이용해서 임의의 두 점 (x,y)을 n차례 생성하고 그 중에서 삼각형이 만들어지는 비율을 계산한다 .
[numpy.uniform(0,1)]
3. n의 횟수를 증가시키면 비율은 정확한 확률에 수렴한다 .

In [158]:
#############################
##풀이과정을 여기에 쓰세요 ##
#############################
Success = 0
for i in range(1000) :
    a =  np.random.uniform(0,1)
    b =  np.random.uniform(0,1)
    a,b = sorted([a,b])[0] , sorted([a,b])[1]
    x1 = a
    x2 = b-a
    x3 = 1-b
    sorted_list = sorted([x1,x2,x3])
    if sorted_list[2] <= sum(sorted_list[:2]) :
        Success = Success + 1
#############################